---
import Github from "./icons/Github.astro";
import Twitter from "./icons/Twitter.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Qheolet. All rights reserved.
  <div class="social-links">
    <a href="https://twitter.com/qheolet" target="_blank">
      <span class="sr-only">Follow Astro on Twitter</span>
      <Twitter />
    </a>
    <a href="https://github.com/qheolet" target="_blank">
      <span class="sr-only">Go to Astro's GitHub repo</span>
      <Github />
    </a>
  </div>
</footer>
<style lang="scss">
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
